.App{
    font-family: 'Roboto', sans-serif;
}
body {
background-image: url(https://cutewallpaper.org/21/lol-backgrounds/Download-League-Backgrounds-High-quality-wallpaper-for-.jpg); 
 
}

a{
    text-decoration: none;
    color: chocolate;
}
.navbar{
    position: relative;
}
..navbar-light .navbar-toggler{

}
#navbarScrollingDropdown{
    color: chocolate;
}