.MainContainer{
    
    padding: 30px;
    margin-top: 2%;
    position: relative;
    max-width: 105rem;
    padding-bottom: 10rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    width: 800px;

}

.description{
background-color: goldenrod;
border-radius: 10px;
padding: 10px;
box-shadow: 2px 5px 2px 5px black;
 margin: 20px;
 font-size: 30px;
 font-style: italic;
 font-weight: 100;
}

.RegisterPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
        
    width: 400px;
color: chocolate;
border-radius: 10px;
padding: 5px;
justify-content: center;
box-shadow: 2px 5px 2px 5px black;
 margin-top: 20px;
 font-size: 30px;
 font-style: oblique;
 font-weight: 100;
 background-color: rgb(46, 45, 45);
}